/*
	Texpansion
	(c)2020-2021 Trevor D. Brown. All rights reserved.

	texpansion.css - styling for the interface page.

*/

/* Generic element styling */
a{
	text-decoration: none;
}

/* Classes */
.txpn-theme{
	background-color:	#b01e24;
	color: #ffffff;
}

.txpn-footer-sticky {
	position: absolute;
	bottom: 0px;
}

/* Element specific styling */
#txpn-header, #txpn-footer {
	text-align: center;
}

/* New Snippet Entry Section*/
#new_entry_section, #all_snippets_section, #prefs_section{
	margin: 5px;
	padding: 5px;
}

#snippet_id_section, #snippet_content_section{
	margin: 5px;
	vertical-align: text-top;
}

#snippet_id, #snippet_content{
	width: 100%;
	margin: 0px auto;
}

#add_new_snippet{
	width: 100%;
	margin: 0px auto;
}

/* All Snippets Section */
#all_snippets{
	width: 100%;
}

#snippets_table{
	width: 100%;
}

#snippets_table > th, #snippets_table > td{
	border-bottom: 1px solid black;
	width: 100%;
}

#snippets_table > thead{
	background-color: #b01e24;
	color: white;
}

#new_entry_form{
	padding: 5px;
}

#snippet{
	width: 200px;
	height: 50px;
}
